{% extends 'base.html' %}
{% block title %}
Mechinpy - Create
{% endblock %}

{% block content %}

<!-- main container -->
<div class="content-main">
    {% include 'bidhanblog/post/main.html' %}
</div>

<!-- sidenav container -->
<div class="content-sidenav">
    {% include 'bidhanblog/post/sidenav.html' %}
</div>

<style>
/* content main */
.content-main{
    float: left;
    width: 760px;
    height: auto;
    padding-left: 5px;
    padding-right: 5px;
}

/* content sidenav */
.content-sidenav{
    float: right;
    width: 200px;
    height: auto;
}

</style>

{% endblock %}