<!-- form content -->
<form class="form-content" method="POST" action="" enctype="multipart/form-data">
    <!-- form header -->
    <div class="form-content-header"> Create Content </div>
    {% csrf_token %}

    <!-- form title -->
    <div class="form-field">
        <div class="form-field-block"> {{form.title}} </div>
        {% if form.title.errors %}
        <div class="form-field-error"> Your title already exists, please edit your title or go to that post </div>
        {% endif %}

        {% if form.non_field_errors %}
        <div class="form-field-error"> Your title already exists, please edit your title or go to that post </div>
        {% endif %}
    </div>

    <!-- form category -->
    <div class="form-field">
        <div class="form-field-block"> {{form.category}} </div>
        {% if form.category.errors %}
        <div class="form-field-error"> {{form.category.errors}} </div>
        {% endif %}
    </div>

    <!-- form text -->
    <div class="form-field">
        <div class="form-field-block"> {{form.text}} </div>
        {% if form.text.errors %}
        <div class="form-field-error"> {{form.text.errors}} </div>
        {% endif %}
    </div>

    <!-- form tags -->
    <div class="form-field">
        <div class="form-field-block"> {{form.tags}} </div>
        {% if form.tags.errors %}
        <div class="form-field-error"> {{form.tags.errors}} </div>
        {% endif %}
    </div>

    <!-- form image -->
    <div class="form-field form-field-hidden">
        <div class="form-field-block"> {{form.image}} </div>
    </div>

    <div class="form-field image-preview-block">
        <div class="form-field-block">
            <img class="imageshow" id="imageshow" src="#" alt="Image Preview">
        </div>
    </div>

    <!-- form action -->
    <div class="form-field">
        <div class="form-field-block"> 
            <span class="image-button material-icons" title="Add Image"> image </span>
        </div>
    </div>

    <!-- submit button -->
    <div class="form-submit">
        <button class="form-submit-button" type="submit"> Submit </button>
    </div>
</form>

<style>
/* form content */
.form-content{
    float: left;
    width: 96%;
    padding-left: 2%;
    padding-right: 2%;
    border: 1px solid #dddddd;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
}

    /* form content header */
    .form-content-header{
        float: left;
        width: 100%;
        height: auto;
        padding-top: 5px;
        padding-bottom: 5px;
        text-align: center;
        font-size: 18px;
        font-family: Arial, Helvetica, sans-serif;
    }

    /* form field */
    .form-field{
        float: left;
        width: 100%;
        height: auto;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .form-field-hidden{
        display: none;
    }
    .image-preview-block{
        display: none;
    }

        /* form field block */
        .form-field-block{
            float: left;
            width: 100%;
            height: auto;
        }

        /* form field error */
        .form-field-error{
            float: left;
            width: 100%;
            height: auto;
            padding-top: 5px;
            padding-bottom: 5px;
            font-size: 12px;
            font-family: 'Roboto', sans-serif;
            color: darkred;
        }

           /* title */
           .title{
                float: left;
                width: 100%;
                height: auto;
                color: #003c2b;
                font-size: 16px;
                font-family: Arial, Helvetica, sans-serif;
                border: none;
                outline: none;
                padding-left: 5px;
                padding-right: 5px;
            }
            /* category */
            #id_category, #id_tags{
                float: left;
                width: 100%;
                height: auto;
                color: #003c2b;
                background-color: #eeeeee;
                font-size: 13px;
                font-family: Arial, Helvetica, sans-serif;
                border: none;
                outline: none;
                padding-top: 5px;
                padding-bottom: 5px;
            }

            /* text */
            .text{
                float: left;
                width: 100%;
                height: auto;
                min-height: 100px;
                font-size: 13px;
                font-family: Arial, Helvetica, sans-serif;
                border: 1px solid #dddddd;
                outline: none;
                resize: vertical;
                padding: 10px;
            }

            .imageshow{
                float: left;
                width: 100%;
                height: auto;
                min-height: 0;
                outline: none;
                border: none;
            }

        
        /* form field button */
            /* image button */
            .image-button{
                float: left;
                width: 30px;
                height: auto;
                font-size: 24px;
                text-align: center;
                cursor: default;
                border: none;
                outline: none;
                color: #003c2b;
            }
        
    /* form submit */
    .form-submit{
        float: left;
        width: 100%;
        height: 30px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

            /* submit button */
            .form-submit-button{
                float: right;
                width: 100px;
                height: 100%;
                border: none;
                outline: none;
                background-color: #003c2b;
                color: white;
                font-size: 13px;
                font-family: Arial, Helvetica, sans-serif;
                border-radius: 30px;
            }

</style>


<script>
    /*  */
    $(document).ready(function(){
        $('.image-button').click(function(){
            $('.image').trigger('click');
        });
    })
</script>

<script>
/* Preview Image Before Uploading */
function readURL(input){
    if (input.files && input.files[0]){
        var reader = new FileReader();

        reader.onload = function(e){
            $('#imageshow').attr('src', e.target.result);
        }
        reader.readAsDataURL(input.files[0]);
    }
}

$('#id_image').change(function(){
    readURL(this);
    $('.image-preview-block').css('display', 'block');
})
</script>