{% extends 'base.html' %}
{% block title %}
BidhanBlog - Reset Password
{% endblock %}

{% block content %}

<div class="message">
  We've emailed you instructions for setting your password, you will receive them shortly. <br/><br/>
  If you don't receive an email, please make sure you've entered the address you registered with,
  and don't forget to check your spam folder as well.
</div>

<style>
.message{
    font-size: 16px;
    padding: 50px;
    font-family: Arial, Helvetica, sans-serif;
}
</style>
{% endblock %}