{% extends 'base.html' %}
{% block title %}
BidhanBlog - Reset Password
{% endblock %}

{% block content %}
{% if validlink %}
<form class="reset-form" method="POST" action="" enctype="multipart/form-data">
  <div class="reset-form-header"> Create a new password </div>
  {% csrf_token %}
  {% for fields in form %}
  <div class="reset-form-label"> {{fields.label}} </div>
  <div class="reset-form-field"> {{fields}} </div>
  <div class="reset-form-error"> {{fields.errors}} </div>
  {% endfor %}

  <div class="reset-form-submit"> 
      <button class="reset-form-submit-button"> Change Password </button>    
  </div>
</form>

{% else %}
<div class="message">
    The password reset link was invalid, possibly because it has already been used.
    Please request a new password reset.
</div>
{% endif %}
<style>
/* reset form */
.reset-form{
  float: left;
  height: auto;
  width: 60%;
  padding-left: 10%;
  padding-right: 10%;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #ffffff;
  box-shadow: 0 0 1px 1px #00000010;
  border: 1px solid #dddddd;
  border-radius: 10px;
}

      /* reset form header */
      .reset-form-header{
          float: left;
          height: auto;
          width: 100%;
          font-size: 16px;
          font-family: Arial, Helvetica, sans-serif;
          text-align: center;
          padding-top: 10px;
          padding-bottom: 10px;
      }

      .reset-form-error{
          float: left;
          height: auto;
          width: 100%;
          font-size: 13px;
          font-family: Arial, Helvetica, sans-serif;
          text-align: center;
          color: darkred;
          padding-top: 5px;
          padding-bottom: 5px;
          text-decoration: none;
          list-style-type: none;
      }

      .reset-form-label{
        float: left;
          height: auto;
          width: 100%;
          padding-top: 5px;
          padding-bottom: 5px;
          font-size: 13px;
          font-family: Arial, Helvetica, sans-serif;
      }
      
      .reset-form-field{
          float: left;
          height: auto;
          width: 100%;
          padding-top: 5px;
          padding-bottom: 5px;
      }
              /* class login */
              #id_new_password1{
                  float: left;
                  width: 100%;
                  padding-left: 10px;
                  padding-right: 10px;
                  height: 40px;
                  font-size: 13px;
                  border: 1px solid #dddddd;
                  border-radius: 5px;
                  font-family: Arial, Helvetica, sans-serif;
              }
              #id_new_password2{
                  float: left;
                  width: 100%;
                  padding-left: 10px;
                  padding-right: 10px;
                  height: 40px;
                  font-size: 13px;
                  border: 1px solid #dddddd;
                  border-radius: 5px;
                  font-family: Arial, Helvetica, sans-serif;
              }
              

      .reset-form-submit{
          float: left;
          height: auto;
          width: 100%;
          padding-top: 5px;
          padding-bottom: 5px;
      }
              /* login form submit button */
              .reset-form-submit-button{
                  float: right;
                  width: 150px;
                  height: 40px;
                  border-radius: 50px;
                  border: none;
                  outline: none;
                  font-size: 13px;
                  font-family: 'Roboto', sans-serif;
                  color: white;
                  background-color: #003c2b;
              }
</style>
{% endblock %}