{% extends 'base.html' %}
{% block title %}
BidhanBlog - Password Reset Complete
{% endblock %}

{% block content %}

<div class="message">
  Your password has been set. You may go ahead and <a class="message-link" href="{% url 'mechinpy:home' %}">Log in</a> now.
</div>

<style>
.message{
  height: auto;
  width: auto;
  margin-left: auto;
  margin-right: auto; 
  font-size: 16px;
  padding: 25px;
  font-family: Arial, Helvetica, sans-serif;
}

.message-link{
  text-decoration: none;
  color: #003c2b;
}
</style>
{% endblock %}