<div class="content-box-header">
    <!-- pass -->

    <!-- category filter -->
    <select class="category-filter">
        <option class="category-option"> All Posts </option>
        {% for category in all_categories %}
        <option class="category-option"> {{category.name}} </option>
        {% endfor %}
    </select>
</div>

{% for post in all_posts %}
<div class="content-box">
    <!-- content title -->
    <a class="content-title" href="{% url 'mechinpy:detail' post.slug %}">
        {{post.title|title}}
    </a>

    <div class="content-detail">

        <!-- content category -->
        <div class="content-category">
        {{post.category.name|capfirst}}
        </div>

        <!-- content author -->
        <div class="content-author">
        {{post.author.get_full_name}}
        </div>

    </div>

    <!-- content buttons -->
    <div class="content-button">
        <!-- comment -->
        <span class="comment-button buttonspan"> 
            {{post.comments.count}}  Comment{{post.comments.count|pluralize}}
        </span>

        <!-- report -->
        <span class="report-button buttonspan">
            Report
        </span>

        <!-- share -->
        <span class="share-button buttonspan">
            Share
        </span>
        
    </div>

</div>
{% empty %}

<h2>  No posts  </h2>

{% endfor %}

<style>
/* content box header */
.content-box-header{
    float: left;
    width: 100%;
    height: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}
        /* category filter */
        .category-filter{
            float: right;
            height: 100%;
            width: 150px;
            border: 1px solid #eeeeee;
            outline: none;
            font-size: 13px;
            font-family: 'Roboto', sans-serif;
        }
            /* category option */
            .category-option{
                border: 1px solid #eeeeee;
                outline: none;
                padding-top: 15px;
                padding-bottom: 15px;
            }



/* content box */
.content-box{
    float: left;
    height: auto;
    width: 96%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 2%;
    padding-right: 2%;
    border: 1px solid #dddddd;
    background-color: white;
    margin-bottom: 5px;
    border-radius: 4px;
}
        
        /* content title */
        .content-title{
            float: left;
            width: 100%;
            height: auto;
            text-decoration: none;
            color: #003c2d;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 16px;
            outline: none;
        }

        /* content detail */
        .content-detail{
            float: left;
            width: 100%;
            height: 16px;
            padding-top: 4px;
            padding-bottom: 4px;
        }
                    
                    /* content category */
                    .content-category{
                        float: left;
                        width: auto;
                        max-width: 50px;
                        padding-left: 10px;
                        padding-right: 10px;
                        height: 100%;
                        background-color: #003c2d;
                        color: white;
                        font-size: 13px;
                        font-family: 'Roboto', sans-serif;
                        border-radius: 4px;
                    }

                    .content-author{
                        float: left;
                        width: auto;
                        max-width: 500px;
                        padding-left: 10px;
                        padding-right: 10px;
                        height: 100%;
                        text-decoration: none;
                        font-size: 13px;
                        font-family: 'Roboto', sans-serif;
                    }

        /* content buttons */
        .content-button{
            float: left;
            width: 100%;
            height: 14px;
            padding-top: 4px;
            padding-bottom: 4px;
        }

                    /* buttonspan */
                    .buttonspan{
                        width: auto;
                        padding-left: 10px;
                        padding-right: 10px;
                        height: 100%;
                        font-size: 12px;
                        font-family: 'Roboto', sans-serif;
                    }
                    .comment-button{
                        float: left;
                    }
                    .report-button{
                        float: right;
                    }
                    .share-button{
                        float: right;
                    }

</style>