{% extends 'base.html' %}
{% block title %}
BidhanBlog - Confirm Your Email
{% endblock %}

{% block content %}

<div class="context-block">
    <div class="content-block-text">
        <h2>Just one more step!</h2> <br/>
        We have sent you a confirmation link. Go to your email address to update your email.
    </div>
</div>

<style>
.context-block{
    width: auto;
    height: auto;
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
}
      .content-block-text{
          width: 100%;
          height: auto;
          padding-top: 20px;
          padding-bottom: 20px;
          font-size: 15px;
          font-family: 'Roboto', sans-serif;
      }
</style>
{% endblock %}