{% extends 'base.html' %}
{% block title %}
BidhanBlog - Invalid Email
{% endblock %}

{% block content %}

<div class="context-block">
    <div class="content-block-text">
        <h2>Something went wrong</h2> <br/>
        Link has expired. Try another link.
    </div>
</div>

<style>
.context-block{
    width: auto;
    height: auto;
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
}
      .context-block-text{
          width: 400px;
          height: auto;
          padding-top: 20px;
          padding-bottom: 20px;
          border: 1px solid #dddddd;
          border-radius: 5px;
          box-shadow: 0 0 1px 1px #00000010;
          font-size: 13px;
          font-family: 'Roboto', sans-serif;
      }
</style>
{% endblock %}